<launch>
  <node name="bno055_usb_stick" pkg="bno055_usb_stick" type="bno055_usb_stick_node">
    <param name="port" value="/dev/ttyBNO055"/>
    <remap from="/imu" to="/imu/data_raw"/>
    <remap from="/magnetic_field" to="/imu/mag"/>
    <param name="tf_frame_id" value="odom"/>
    <param name="tf_child_frame_id" value="imu_frame"/>
  </node>
  
  <node name="comp" pkg="imu_complementary_filter" type="complementary_filter_node">
    <param name="publish_tf" value="true"/>
    <param name="use_mag" value="false"/>
    <param name="bias_alpha" value="0.01"/>
  </node>
    
  <node name="rviz" pkg="rviz" type="rviz" args="-f odom" required="true"/>
</launch>
